<div class="container py-5" id="profile-container">
    <h2 class="mb-4">{{#if isOwnProfile}}My Profile{{else}}{{userInfo.name}}'s Profile{{/if}}</h2>

    <div class="mb-4 text-center">
        <img src="{{userInfo.profileImage}}" alt="Profile Picture" class="rounded-circle mb-2" width="150" height="150">
        <br>
        {{#if isOwnProfile}} 
        <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Edit Profile Picture
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Upload Profile Picture</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/updatepicture/{{userInfo.email}}" method="POST" enctype="multipart/form-data">
                        <input type="file" accept=".png, .jpeg, image/png, image/jpeg" name="newpfp" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
    </div>

    <div class="mb-3">
        <h5>Name:</h5>
        <p>{{userInfo.name}}</p>
    </div>

    <div class="mb-3">
        <h5>Email:</h5>
        <p>{{userInfo.email}}</p>
    </div>

    <div class="mb-3">
        <h5>Description:</h5>
        {{#if isOwnProfile}}
        <div id="description">
            <p>{{userInfo.description}}</p>
            <button class="btn btn-outline-primary btn-sm mt-2 me-2" id="editdescription">Edit Description</button>
        </div>
        <div id="editing">
            <form action="/updatedescription/{{userInfo.email}}" method="POST">
                <div class="mb-3">
                    <input type="text" class="form-control" name="newdescription" value="{{userInfo.description}}">
                </div>
                <button type="submit" class="btn btn-outline-success">Save</button>
            </form>
            <button type="button" class="btn btn-outline-danger" id="canceldescription">Cancel</button>
        </div>
        {{else}}
        <p>{{userInfo.description}}</p>
        {{/if}}
    </div>

    <div class="mt-5">
         <h5 class="mb-3">{{#if isOwnProfile}}Current Reservations{{else}}Public Reservations{{/if}}</h5>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Lab</th>
                    <th>Date</th>
                    <th>Seat</th>
                </tr>
            </thead>
            <tbody>
            {{#each reservations}}
            <tr>
                <td>{{lab}}</td>
                <td>{{reservationDateTime}}</td>
                <td>{{seatNumber}}
                    {{#if anonymous}}<span class="text-muted">(Anonymous)</span>{{/if}}
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

    {{#if isOwnProfile}}    
    <div class="mt-4">
        <form action="/deleteaccount/{{userInfo.email}}" method="POST">
            <button class="btn btn-outline-danger" type="submit">Delete Account</button>
        </form>
    </div>
    {{else}}
    <div class="mt-4">
        <a href="/dashboard" class="btn btn-outline-secondary">Back to Dashboard</a>
    </div>
    {{/if}}
</div>

{{#if isOwnProfile}}
<script>
    const noedit = document.getElementById('description');
    const edit = document.getElementById('editing');

    edit.style.display = 'none';

    const editbutton = document.getElementById('editdescription');
    const cancelbutton = document.getElementById('canceldescription');

    editbutton.addEventListener('click', function() {
        noedit.style.display = 'none';
        edit.style.display = 'block';
    });
    cancelbutton.addEventListener('click', function() {
        edit.style.display = 'none';
        noedit.style.display = 'block';
    });

    const myModal = document.getElementById('myModal')
    const myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', () => {
        myInput.focus()
    })
</script>
{{/if}}